@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
}

.header,
.footer,
.section-one {
    background-color: #1F2937;
}

.header {
    padding: 0.5rem 10rem 0 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 9rem;
    height: auto;
}

.section-one,
.section-two,
.section-three,
.section-four {
    min-height: 25rem;
    flex: 1 1 auto;
}

.section-one {
    display: flex;
    justify-content: center;
    padding: 0 10rem;
    gap: 5rem;
}

.s1-content {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.s1-content h1 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}

.s1-content .b2 {
    width: fit-content;
    margin-top: 1.5rem;
    border-width: 0;
}

.s1-subtext {
    font-size: 18px;
    color: #E5E7EB;
    width: auto;
}

.s1-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.s1-image img {
    flex: 1;
    width: 23rem;
    height: auto;
}

.section-two {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 2rem 7rem;
}

.friends {
    margin: 0 0 1rem 0;
    text-align: center;
}

.friends-body {
    flex: 1;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: flex-start;
}

.friend1,
.friend2,
.friend3,
.friend4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.friend1 img,
.friend2 img,
.friend3 img,
.friend4 img {
    flex: 1;
    border-radius: 15px;
    border: 5px solid #3882F6;
    width: 15rem;
    height: auto;
}

p {
    flex: 1;
    margin: 1rem 0 0 0;
    text-wrap: wrap;
    width:15rem;
    font-size: 20px;
    font-weight: 300;
}

.section-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 7rem 12rem;
    gap: 1rem;
}

.quote {
    flex: 1;
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
    margin: 0;
    text-align: justify;
    text-wrap: wrap;
}

.quote-by {
    font-weight: 400;
    font-size: 30px;
    margin: 0;
    text-align: right;
    align-self: flex-end;
    justify-self: center;
    min-width: 25rem;
}

.section-four {
    background-color: #F9FAF8;
    display: flex;
    padding: 7rem 12rem;
}

.blue-card,
button {
    background-color: #3882F6;
}

.blue-card{
    border-radius: 20px;
    flex: 1;
    display: flex;
    justify-content:center;
    gap: 5rem;
    align-items: center;
    padding: 1rem 6em;
}

.blue-text {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.b2,
.call,
.action {
    color: #F9FAF8;
}

.call {
    font-size: 26px;
    margin: 0;
}

.b2 {
    flex: 1;
    border: 2px solid #F9FAF8;
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    font-size: 20px;
}

.action {
    width: auto;
    margin: 0;
    text-align: left;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    gap: 3rem;
}

a,
.footer {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.footer {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}